* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #C0C0C0;
}
main {
    min-height: 87vh;
}
.user-form {
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.user-form_section {
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.user-form_label {
    margin-right: 10px;
    font-size: 12pt;
}
.user-form_input {
    font-size: 12pt;
    padding-bottom: 2px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid black;
}
.user-form_submit{
    margin: 20px 0;
    border: 2px solid black;
    border-radius: 3px;
    padding: 5px;
    font-size: 12pt;
    background-color: rgb(204, 139, 139);
}
.user-form_message{
    margin: 10px 0;
}
.block-main-header {
    text-align: center;
    padding: 10px 0;
    width: 100%;
}