* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #C0C0C0;
}
main {
    min-height: 87vh;
}
.block-main {
    margin: 10px 10px;
}
.block-main-header {
    text-align: center;
    padding: 10px 0;
    width: 100%;
}
.team-table {
    width: 97%;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
}
.team-table_head {
    background-color: #808080;
    border: 2px solid rgb(71, 71, 71);
    padding: 8px 0;
}
.team-table_data {
    background-color: #DCDCDC;
    border: 2px solid rgb(71, 71, 71);
    padding: 5px 0;
}